
/* NetApp.com Overrides */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
 body, html{font-family: "Source Sans Pro", sans-serif; font-weight: 400;}

.n-list__term,.fonts-loaded body, button,.button--inline-action,.luci-link__text,.n-menu__list .n-menu__list--grouped .n-menu__list--grouped-title,[lang="ja-JP"] .n-menu__link-header,.n-menu__list-title,[data-ntap-target="cloud-marketplace"] .n-menu__list-item--cloud-trials .n-menu__list-description,.n-property-bar__property-name,.n-property-bar__social-link-text,.n-property-navigation-bar__nav-link,.n-property-navigation-bar__nav-link.n-property-navigation-bar__nav-link--is-active,.n-property-bar__search--exp .autocomplete-search .ui-menu-item,.n-property-bar__search-toggle-input,.n-property-bar__search-form-input,.n-footer__property-link-list-header,
h1, h2, h3, h4, h5, h6, .n-paragraph-lead,.n-paragraph-fine-print, .n-section-title .n-section-title__heading,ul,.ntap-button:not(.luci-button--input),.n-anchor-link__link,.button--inline-action,.n-menu__link,
.n-menu__list .n-menu__list--grouped .n-menu__list--grouped-title,.n-property-bar__property-name,.n-property-bar__social-link-text,.n-property-navigation-bar__nav-link ,.n-property-navigation-bar__nav-link.n-property-navigation-bar__nav-link--is-active,.n-search-form__input, .n-property-bar__search-toggle-input,.n-property-bar__search-form-input,.n-page-header__date,
.n-page-header__link--author,.n-page-header__pre-heading,.n-paragraph-lead,.n-paragraph-fine-print,
.n-section-title .n-section-title__heading,.n-band .n-band__heading,.ntap-feature__title,.ntap-feature--band .ntap-feature__title,.n-paragraph, p{font-family: "Source Sans Pro", sans-serif !important ;}
.n-heading-level-4--bold-apb,
[data-ntap-theme="dark blue"] .n-banner__ad-subtitle-asset,
[data-ntap-theme="dark blue"] .n-banner__ad-title-asset,
[data-ntap-theme="dark purple"] .n-banner__ad-subtitle-asset,
[data-ntap-theme="dark purple"] .n-banner__ad-title-asset,
[data-ntap-theme="gradient blue"] .n-banner__ad-subtitle-asset,
[data-ntap-theme="gradient blue"] .n-banner__ad-title-asset,[data-ntap-theme="light gray"] .n-banner__ad-title-asset,.n-cta__text,
[data-ntap-theme="light gray"] .n-banner__ad-subtitle-asset,.n-button-apb:not(.luci-button--input),.n-button-apb--primary:not(.luci-button--input),.n-button-apb--secondary:not(.luci-input--input),.n-button-apb--teal:not(.luci-button--input),.n-button-apb--teal-on-dark:not(.luci-button--input),.n-button-apb--green:not(.luci-button--input),.n-button-apb--green-on-dark:not(.luci-button--input),.n-button-apb--yellow:not(.luci-button--input),.n-button-apb--yellow-on-dark:not(.luci-button--input),.n-button-apb--orange:not(.luci-button--input),
.n-button-apb--orange-on-dark:not(.luci-button--input),.n-card__promo .n-card__title,.n-content-hub-filter__show-all-button,.rc-pagination,.n-data-table td.n-data-table__cell-header, .n-data-table td.n-data-table__cell-label,.n-feature-block__text,.n-search-form__input,.n-property-bar__search--exp .autocomplete-search .ui-menu-item,	.n-property-bar__search-toggle-input,.n-footer__corp-link-list-header,
.n-footer__corp-link-list-header .n-footer__corp-link,
.n-footer__property-link-list-header,.n-form__input,.n-form__label,.n-form__select-input,.n-search-filter__list-item--active .n-search-filter__link{font-family: "Source Sans Pro", sans-serif !important ;}
.n-property-bar {background: #BEEAD3!important; height: 89px;}
a, a:hover{color:#0065B3;}
.n-property-bar__inner-wrap {
  height: 38px;
}
.n-blockquote p, code {
  margin: 0;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ie-site-nav {
  width: 200px;
  float: left;
}

.ie-page-toolbar {
  width: 200px;
  float: right;
}

.ie-content-pane {
  padding: 24px 48px;
  padding-top: 0px;
}

h1 { font-size: 2rem; margin-bottom: 24px; font-weight: 500;}
h2 { font-weight: 500; font-size: 27px;margin-bottom: 16px;padding-bottom: 0.3rem; border-bottom: 1px solid #eaecef; }
h3 { font-size: 24px; margin-bottom: 16px; }
h4 { font-size: 20px; margin-bottom: 16px; }
h5 { font-size: 18px; margin-bottom: 16px; }

.sect1 {
  padding-bottom: 1.25em;
}

.sect1>h1, .sect1>h2, .sect1>h3, .sect1>h4 {
  margin-bottom: .5em;
  font-weight: 500;
}

.sect1>h1, .sect1>h2 { margin-top: .5em; }
.sect1>h3, .sect1>h4 { margin-top: 0px; }

ul, ol {
    margin-left: 1.5em;
}

.ulist, .olist {
  margin-bottom: 24px;
}

dl dd {
  margin-left: 1.125em;
}

dl dt {
    margin-bottom: .3125em;
    font-weight: bold;
}

.n-list, ol, ul {
   font-family: 'Source Sans Pro',sans-serif;
}

#toctitle {
  color: inherit;
}

p.lead,.paragraph.lead>p,#preamble>.sectionbody>.paragraph:first-of-type p{font-size:18px; line-height: 2rem;}
/* Temp Override netapp.css behavior */
li.n-footer__language svg {
  vertical-align: inherit;
}

table.frame-all { border-width: 1px 0; }

/* Override */


.rss {
  font-size: 13px;
  padding: 6px 12px;
}

time+span {
  border-left: solid 1px #686868;
  margin-left: 12px;
  padding-left: 12px;
}

time+span+span {
  border-left: solid 1px #686868;
  margin-left: 12px;
  padding-left: 12px;
}

.n-footer__copyright {
  border-right: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

.n-footer__copyright+.n-footer__copyright {
  border-left: solid 1px #686868;
  margin-left: 12px;
  padding-left: 12px;
}

/* i18n */
#ie-i18n {
  display: none;
  position: relative;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #ccc;
  cursor: pointer;
  margin-right: 14px;
  margin-top: 0px;
  pointer-events: all;
  float: left;
}

#ie-i18n-menu {
  display: inline-block;
  position: relative;
  text-align: left;
  height: 34px;
  vertical-align: top;
  margin-left: 12px;
  width: 200px;
}
.n-property-bar__lang-selector {
    position: absolute !important;
    right: 10px;
    top: 58px;
    background: #fff;
}
.ie-i18n-container {
  position: relative;
  background: #fff;
  border: 1px solid #A6A8AB;
  border-radius: 6px;
  height: 30px;
  top: 5px;
}

.ie-i18n-icon-container {
  background: #0A0B09;
  display: inline-block;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  font-size: 0;
  height: 40px;
  width: 40px;
  margin-right: 0;
  padding: 0;
  position: relative;
  right: 0;
  vertical-align: middle;
  opacity: 1;
  outline: none;
}

.n-globe__icon {
  fill: #fff;
  height: 15px;
  pointer-events: none;
  top: 0px;
  left: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.ie-i18n-link {
  padding: 0px;
  display: inline;
}

.ie-i18n-lang {
  display: inline-block;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding: 6px 12px;
  position: relative;
  vertical-align: middle;

}

.ie-i18n-icon-container {
  display: inline-block;
  float: right;
  position: relative;
  top: 0px;
  left: 0px;
  background: #0A0B09;
  background-image: none;
  border: 0;
  border-radius: 0 4px 4px 0;
  width: 30px;
  padding: 0 5px;
  margin: 0px;
  height: 100%;
}

.ie-i18n-results-container {
  position: absolute;
  top: 50px;
  right: auto;
  left: auto;
  background: #FFF;
  border-bottom: solid 4px #0A0B09;
  display: none;
  min-width: 230px;
  z-index: 200;
}

.n-language-selector-menu__header {
  border-bottom: solid 1px #F2F2F2;
  margin: 24px;
  padding-bottom: 24px;
  position: relative;
}

.n-language-selector-menu__title {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  color: #454545;
  font-size: 20px;
}

.n-language-selector-menu .n-menu__header-text {
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  color: #454545;
  display: block;
  font-size: 12px;
  padding: 6px 24px;
  text-transform: uppercase;
}

.n-top-hat {
  background-color: #0A0B09;
  overflow: hidden;
}

.n-footer {
  box-shadow: 0 -2px 0 rgba(0,0,0,.08);
  position: relative;
    z-index: 2;
}

.image:after {
  display: none !important;
}

.n-property-bar__property-link:after {
    content: none !important;
}

.videoblock {
  /* Sets the content size */
  max-width: 848px;
  max-height: 480px;
}

.videoblock .content {
  max-width: inherit;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoblock video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 848px;
  max-height: 480px;
  margin: 0px;
}

.videoblock iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.image img {
  max-width: 100%;
  height: auto;
  width: 100%;
  width: initial;
}

.n-doc__component-list {
  /* content: ""
  display: table; */
  float: left;
  clear: both;
}

/* Mobile (Default) Design */
.tableblock th, .tableblock p, .tableblock ul, .tableblock ol {
  font-size: 8px;
}

.col-md-3 {
  width: 310px;
  min-width: 310px;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 75vh;
  position: relative;
  padding-left: 20px;
  margin-top: 0px;
  position: fixed;
  top: 172px;
  bottom: 80px;
    z-index: 1;
}

.n-doc__component-detail-content {
  float: left;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  /* Wrap word regardless of space */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#n-main-content {
  margin-top: 70px;
  min-height: 86vh;

}

.previous-version {
  background-color: #FFE1A1;
  padding: 15px;
  margin: 10px 0px;
}

.previous-version-highlight {
  font-weight: bold;
}

@media screen and (min-width: 400px) {
  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul, .tableblock ol {
    font-size: inherit;
  }
}

/* Mobile landscape */
@media (min-width: 48em) {
  .ie-content-pane {
    width: calc(100% - 310px);
  }

  .n-property-bar__property-mark--has-property-name{
    padding-top: 6px;
  }

  .n-layout-flex__item:nth-child(7) {
    margin-left: .83333%;
    margin-right: .83333%;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  #ie-i18n {
    display: block;
  }

  .site-header {
    z-index: 501;
  }

  .n-property-bar__inner-wrap {
    height: 46px;
    clear: left;
  }

  .ie-content-pane {
    width: calc(100% - 310px);
    margin-left: 370px;
     margin-top: 140px;
  }


  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
  }

  #n-main-content {
    margin-top: 121px;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul, .tableblock ol {
    font-size: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .n-property-bar__inner-wrap {
    height: 46px;
  }

  .ie-content-pane {
    width: calc(100% - 610px);
    margin-top: 50px;
  }

  .ie-i18n-results-container {
    right: 0px;
  }

  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
  }

  #n-main-content {
    margin-top: 121px;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul, .tableblock ol {
    font-size: inherit;
  }
}

@media (min-width: 120.0625em) {
  /* Prevent www collapsing navbar */
  .n-property-bar.n-sticky-nav {
    z-index: initial;
    display: initial;
    top: initial;
  }
}

.n-search-form__input {
  border-radius: 6px;
}

.page-details {
  color: #5e5e5e;
  font-size: .875rem;
}

h1.n-doc__component-detail-heading {
  margin-bottom: .1em;
}

.n-pdf-header {
  border: #e3e3e3;
  align-items: center;
  border: 1px solid transparent;
  display: inline-flex;
  border-top: 1px solid #e3e3e3 !important;
  border-bottom: 1px solid #e3e3e3 !important;
  font-size: .875rem;
  padding-right: .40em;
  height: auto;
  line-height: 1.5;
  color: #454545;
  font-weight: bolder;
  box-shadow: 2px 0px 0px rgba(0,0,0,.08);
  width: 99.8%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.n-pdf-button {
  color: #454545;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  text-decoration: none !important;
  font-weight: 600;
  width: 100%
}
.n-pdf-button:before {
  content: '\22ee';
  color: #444;
}
.n-pdf-body {
  border-bottom: 1px solid #e3e3e3 !important;
  margin-left: 0px;
  margin-bottom: 20px;
  width: 265px;
  box-shadow: 2px 0px 0px rgba(0,0,0,.08);
}

.n-pdf-button > span {
  float: right;
}

.n-pdf-body li {
  list-style: none;
}
.n-pdf-body li a {
  font-size: 13px;
  line-height: 16px;
  padding: 3px 15px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.n-pdf-section {
    background-color: #e3e3e3;
    border: #e3e3e3;
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    font-size: .675rem;
    padding-left: 1.2em;
    padding-right: .40em;
    height: 2em;
    line-height: 1;
    color: #454545;
    font-weight: bolder;
    width: 265px;
    box-shadow: 2px 0px 0px rgba(0,0,0,.08);
}

.n-pdf-section-title {
    color: #454545;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    text-decoration: none !important;
    font-weight: 600;
    width: 100%;

}
@media screen and (min-width: 48em) {
  .n-property-bar__inner-wrap {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding:0 10px 0 20px !important;
}
.n-top-hat .n-container {
    padding: 0 15px 0 12px !important;
    max-width: 100% !important;
    }
    .n-breadcrumb__list-item:last-child {
      font-family: "Source Sans Pro", sans-serif !important;
      color: #101820 !important;
  }
  .button,
.n-breadcrumb__link,
.n-breadcrumb__list > li > a {
    font-family: "Source Sans Pro", sans-serif;}
.n-breadcrumb__link,	.n-breadcrumb__list > li > a ,.n-breadcrumb__link:hover,
.n-breadcrumb__list > li > a:hover {	color: #101820 !important;}
}

@media screen and (max-width: 1250px){
  .ie-content-pane {  margin-left: 300px; padding: 15px 35px; width: calc(100% - 570px);}
  .col-md-3 {  width: 270px; min-width: 270px}
  h1 {font-size: 27px;margin-bottom: 24px;font-weight: 500;}
  h2 {font-size: 22px;}
  h3 { font-size: 20px; margin-bottom: 16px; }
  h4 { font-size: 18px; margin-bottom: 16px; }
  h5 { font-size: 16px; margin-bottom: 16px; }
  .n-property-bar__lang-selector {

      margin-right: 4px !important;
      right:15px;
  }
}
@media screen and (max-width: 1100px){
  /* .n-property-bar__lang-selector {
      margin-right: 20px !important;
  } */
}
@media screen and (max-width: 1023px){
  .ie-content-pane {
    margin-left: 280px;
    width: calc(100% - 280px);
    padding: 50px 35px 20px;
 }
}
@media screen and (max-width: 768px){
  .col-md-3 {  position: absolute;
    top: 30px;
    top: 0px;
    left: -94%;
    width: 89%;
  max-height: 88vh}
  .ie-content-pane {padding: 24px 15px;  margin: 0px;  width: 100%;}
  .nav li > a ,li.subfolders.active > ul li.active > a, li.subfolders.active > ul li.active > a:hover ,li.subfolders.active > a, li.subfolders.active > a:hover,.n-pdf-button ,.n-pdf-button:before {color: #fff;}

}
@media screen and (max-width: 420px){
  .col-md-3 {
    left: -93%;
    width: 88%;}
}
