/* Override */
.githubEditButton {
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #ccc;
}

.rss {
  font-size: 13px;
  padding: 6px 12px;
}

time+span {
  border-left: solid 1px #686868;
  margin-left: 12px;
  padding-left: 12px;
}

.n-footer__copyright {
  border-right: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

.n-footer__copyright+.n-footer__copyright {
  border-left: solid 1px #686868;
  margin-left: 12px;
  padding-left: 12px;
}

/* i18n */
.n-globe__icon {
  fill: #fff;
  pointer-events: none;
  top: 0px;
  left: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#ie-i18n-menu {
  display: inline-block;
  position: relative;
  text-align: left;
  height: 40px;
  vertical-align: top;
  margin-left: 12px;
}

.ie-i18n-container {
  position: relative;
  background: #fff;
  border: 1px solid #A6A8AB;
  border-radius: 6px;
  height: 30px;
  top: 5px;
}

.ie-i18n-link {
  padding: 0px;
  display: inline;
}

.ie-i18n-lang {
  display: inline-block;
  position: relative;
  font-size: 12px;
  vertical-align: middle;
  padding: 0 12px;
}

.ie-i18n-icon-container {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  background: #0067c5;
  border: 1px solid #0067c5;
  border-radius: 0 6px 6px 0;
  width: 30px;
  padding: 0 5px;
  margin: 0px;
  height: 100%;
}

/* Misc */
@media (min-width: 48em) {
  .n-property-bar__property-mark--has-property-name{
    padding-top: 6px;
  }

  .n-layout-flex__item:nth-child(7) {
    margin-left: .83333%;
    margin-right: .83333%;
    margin-top: 0;
  }
}

.image:after {
  display: none !important;
}

.n-property-bar__property-link:after {
    content: none !important;
}

.videoblock {
  /* Sets the content size */
  max-width: 848px;
  max-height: 480px;
}

.videoblock .content {
  max-width: inherit;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoblock video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 848px;
  max-height: 480px;
  margin: 0px;
}

.videoblock iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.image img {
  max-width: 100%;
  height: auto;
  width: 100%;
  width: initial;
}

.n-doc__component-list {
  /* content: ""
  display: table; */
  float: left;
  clear: both;
}

/* Mobile (Default) Design */
.tableblock th, .tableblock p, .tableblock ul {
  font-size: 8px;
}

.col-md-3 {
  width: 310px; /* 321px */
  min-width: 310px;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 75vh;
  position: relative;
  padding-left: 30px;
  margin-top: 25px;
}

.n-doc__component-detail-content {
  float: left;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  /* Wrap word regardless of space */
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 90vw;
}

#n-main-content {
  padding-top: 115px;
  min-height: 86vh;
}

#downlevel-header {
  color: blue;
  font-weight: bold;
  padding-left: 10px;
}

.downlevel :after {
  display: none !important;
}

#ie-i18n {
  float: left;
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

#ie-i18n-tooltip {
  top: 11px;
  vertical-align: top;
  margin-left: 5px;
}

#nmt-disclaimer {
  padding-left: 8px;
  font-size: 12px;
}

.luci-icon {
  height: 18px;
  width: 18px;
  background-color: transparent;
  fill: #0067c5; /* #2D6DDE; */
  margin-right: 5px;
}

.luci-tooltip {
  display: inline-block;
  position: relative;
  text-align: inherit;
  text-indent: 0;
}

.luci-tooltip__content {
  line-height: 1.5;
  text-align: left;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  opacity: 0;
  visibility: hidden;
  display: flex;
  max-width: 220px;
  position: absolute;
  width: 100vw;
  z-index: 10;
}

.luci-tooltip--right-bottom .luci-tooltip__content {
  justify-content: flex-start;
  left: 100%;
  right: auto;
  bottom: auto;
  top: 0;
  transform: translate(0, 0);
}

.luci-tooltip--visible.luci-tooltip--hidden-on-hover:hover .luci-tooltip__content,
.luci-tooltip--visible .luci-tooltip__content,
.luci-tooltip:hover .luci-tooltip__content {
  opacity: 1;
  -webkit-transition: opacity 0.4s, visibility 0 0;
  transition: opacity 0.4s, visibility 0 0;
  visibility: visible;
}

.luci-tooltip--hidden-on-hover:hover .luci-tooltip__content {
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0 0.4s;
  transition: opacity 0.4s, visibility 0 0.4s;
  visibility: hidden; }

.luci-tooltip__content-inner {
background: #EFF4FF;
border: 1px solid #A5BFED;
border-radius: 2px;
color: #131313;
display: inline-block;
font-size: 16px;
padding: 16px;
position: relative;
width: auto; }
.luci-tooltip__content-inner:before {
  background: #A5BFED;
  content: '';
  height: 12px;
  position: absolute;
  width: 12px;
  z-index: -1; }
.luci-tooltip__content-inner:after {
  background: #EFF4FF;
  content: '';
  height: 10px;
  position: absolute;
  width: 10px; }

.luci-tooltip__text {
line-height: 1.25; }
.luci-tooltip__text::before, .luci-tooltip__text::after {
  content: '';
  display: block;
  height: 0;
  width: 0; }
.luci-tooltip__text::before {
  margin-bottom: calc(-0.3325em + 0px); }
.luci-tooltip__text::after {
  margin-top: calc(-0.2875em + 0px); }

/* Mobile landscape */
@media screen and (min-width: 400px) {
  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
    position: relative;
    height: 40px;
    vertical-align: top;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul {
    font-size: inherit;
  }
}

/* Language Selector wrap point */
@media screen and (min-width: 580px) {
  /* Tooltip left */
  .luci-tooltip--right-bottom .luci-tooltip__content {
    left: auto;
    right: 100%;
    top: 100%;
  }
}

/* media queries */
@media screen and (min-width: 768px) {
  .n-doc__component-detail-content {
    width: 50%;
    margin-left: 310px;
  }

  .col-md-3 {
    position: fixed;
    top: 140px;
    bottom: 80px;
  }

  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
    position: relative;
    height: 40px;
    vertical-align: top;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul {
    font-size: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .n-doc__component-detail-content {
    width: 75%;
    margin-left: 310px;
  }

  .col-md-3 {
    position: fixed;
    top: 140px;
    bottom: 80px;
  }

  /* Tooltip right */
  .luci-tooltip--right-bottom .luci-tooltip__content {
    left: 100%;
    right: auto;
    top: 0;
  }

  #ie-i18n-menu {
    top: auto;
    right: auto;
    margin-left: 0px;
    position: relative;
    height: 40px;
    vertical-align: top;
  }

  .image img {
    width: auto;
  }

  .tableblock th, .tableblock p, .tableblock ul {
    font-size: inherit;
  }
}

.n-search-form__input {
  border-radius: 6px;
}

.page-details {
  color: #5e5e5e;
  font-size: .875rem;
}

h1.n-doc__component-detail-heading {
  margin-bottom: .1em;
}
