/* Page Nav Definitions */
.github-icon {
  width: 15px;
  height: 15px;
  border: 0;
  vertical-align: middle;
  margin-right: 3px;
}

.githubEditButton {
  margin: 4px 8px;
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #ccc;
  width: 200px;
}

.page-nav-toolbar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .page-nav-toolbar {
    display: block;
    float: right;
    max-height: 75vh;
    margin-top: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 10px;
    top: 170px;
    width: 225px;
    z-index: 1;
  }
}

.page-nav-fixed {
  width: 181px;
  box-sizing: border-box;
  line-height: 1;
  max-width: 240px;
}

.page-nav-contribute {
  float: left;
  margin-left:2px;
  margin-bottom: 20px;
  line-height: 1;
  max-width: 240px;
  box-shadow: -2px 0 0 rgba(0,0,0,.08);
}

.page-nav-contribute-title {
  padding: 4px 8px;
  line-height: 1.5;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.page-nav-contribute-link {
  color:#0065B3;
  /* color: #0067C5; */
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  font-size: 14px;
}

.page-nav-container {
  float: left;
}

.page-nav-title {
  display: none;
  padding: 4px 8px;
  line-height: 1.5;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin-left: 2px;
  box-shadow: -2px 0 0 rgba(0,0,0,.08);
}

.page-nav-links {
  bottom: 80px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 75vh;
  top: 380px;
  position: fixed;
}

.page-nav-inner {
  list-style: none;
  padding: 0px;
  margin-left: 2px;
  box-shadow: -2px 0 0 rgba(0,0,0,.08);
}

.page-nav-item {
  display: list-item;
}
/* .page-nav__link:hover {
    color: #0065B3;
} */
.page-nav__link {
  color: #0065B3;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  font-size: 12px;
}

.page-nav__sublink {
  margin-left: 12px;
}

.page-nav__link--active {
  position: relative;
  font-weight: bold;
}

.page-nav__link--active:before {
  display: none;
  background-color: #7E5FD4;
  position: absolute;
  bottom: 4px;
  content: '';
  left: -8px;
  top: 4px;
  width: 8px;
}
