@media screen and (min-width: 1024px) {
  .n-doc__component-detail-content {
    max-width: 2400px;
    width: auto;
    margin-right: 214px;
  }
}

/* Page Nav Definitions */
.page-nav-container {
  display: none;
}

@media screen and (min-width: 1024px) {
  .page-nav-container {
    display: block;
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 75vh;
  }
}

.page-nav-fixed {
  width: 181px;
  box-sizing: border-box;
  line-height: 1;
  max-width: 240px;
}

.page-nav-title {
  position: fixed;
  width: 214px;
  top: 165px;
  right: 20px;
  color: #0067C5;
  display: none;
  padding: 4px 8px;
  line-height: 1.5;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.page-nav-inner {
  width: 214px;
  top: 190px;
  bottom: 80px;
  right: 20px;
  position: fixed;
  list-style: none;
  margin: 0;
  padding-left: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 75vh;
}

.page-nav-item {
  display: list-item;
}

.page-nav__link {
  color: #0067C5;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  font-size: 12px;
}

.page-nav__sublink {
  margin-left: 12px;
}

.page-nav__link--active {
  position: relative;
  color: #7E5FD4;
}

.page-nav__link--active:before {
  background-color: #7E5FD4;
  position: absolute;
  bottom: 4px;
  content: '';
  left: -8px;
  top: 4px;
  width: 8px;
}
