h2[id].n-property-bar__property-name {
  padding: 0px;
  margin-top: 0px;
}

.col-md-3 {
  padding-left: 30px;
  position: fixed;
}

/* NetApp Sidebar Overrides */
ul#mysidebar {
    width: 100%;
    border-radius:0px;
    background: inherit;
    padding-top: 10px;
    box-shadow: 2px 0px 0px rgba(0,0,0,.08);
    margin-right: 0px;
    padding-top: 5px;
    border-right: 1px solid rgba(0,0,0,.07);
}

.nav, .nav ul, .nav li {
    list-style: none;
}

.nav ul {
    padding: 0;
    margin:0px;
}

.nav {
    padding: 0px;
    margin: 0px;
}

.nav > li {
    margin: 0px 0;
}

.nav > li li {
    margin: 0px 0;
}

.nav a {
    display: block;
    outline: none;
    text-decoration: none;
}

.nav li > a > span {
    width: 30px;
    float: right;
    font-size: 13px;
    font-weight: bolder;
    padding: 7px;
}


.nav li > a.na-navbar-padding {
    padding-top: 7px;
    padding-bottom: 7px;
}

.nav li > a > div.na-navbar-padding {
    padding-top: 7px;
    padding-bottom: 7px;
}
.n-pdf-button >span {padding-right: 4px;}
.n-pdf-button >span::after {
    content: '\276f';
    transform: rotate(90deg);
    display: block;
    color: #444;
}
.n-pdf-button.active >span::after {
    content: '\276f';
    transform: rotate(270deg);
    display: block;
    color: #444;
}
.nav li > a > span:after {
  content: '\276f';
  transform: rotate(90deg);
  display: block;
  color: #444;

}
.nav li.active > a > span:after {
  content: '\276f';
  transform: rotate(270deg);
  display: block;
  color: #444;

}

 .nav li.active > a {
    color:#101820;
    font-weight: normal;
    background: inherit;
    font-size: 14px;
}
.nav a:hover{
    color: #101820; /* NetApp Blue */
    font-weight: normal;
    background: inherit;
    font-size: 14px;
}

.nav > li.active > a  {
  color:#101820;
  font-weight: bold;
  font-size: 14px;

}

.nav li a {
    font-size: 13px;
    line-height: 13px;
    padding-left: 7px;
    background: inherit;
}

.nav > li > a {
    font-size: 13px;
    line-height: 16px;
    padding-left: 7px;
}

.nav li.thirdlevel > a {
    color: #248EC2;
    font-weight:bold;
    padding-left:20px;
}

.nav li a {
    padding-right:0px;
}

.nav li a:hover {
    font-weight: normal;
    background: inherit;
    color: #101820; /* NetApp Blue */
}

.nav ul li a {
    background: inherit;
    padding-left:15px;
    border-top: 0px;
}

.nav ul li ul li a {
    padding-left:15px;
    padding-right: 5px;
}

/* newstyle end */
li.subfolders.active > ul li.active:after {
    content: '';
    background: #101820;
    position: absolute;
    right: 0;
    height: calc(100% - 6px);
    width: 5px;
    top: 3px;
}
li.subfolders.active  > ul li {
    position: relative;
    color: #101820;
}
li.subfolders.active > a, li.subfolders.active > a:hover {
    color: #101820;
    font-weight: 600;
}
li.subfolders.active:after{display:none;}
li.subfolders.active > ul li.active > a ,li.subfolders.active > ul li.active > a:hover {
color:#101820;
  font-weight: 600;}
.nav li > a {
    color: #101820;
}
.nav > li  {padding: 6px 0 0 0; }
li.subfolders > ul {
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    margin: 5px 0px 5px 15px;
}
li.subfolders > ul li ul {
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    margin: 5px 0px 5px 30px;
}

/* newstyle end */
/* end sidebar */
@media screen and (max-width: 768px){
  .nav li > a,.nav > li.active > a ,li.subfolders.active > ul li.active > a, li.subfolders.active > ul li.active > a:hover ,li.subfolders.active > a, li.subfolders.active > a:hover,.nav li a:hover,.n-pdf-button:hover,.n-pdf-button{color: #fff;}
  li.subfolders > ul, li.subfolders > ul li ul {border-left: 1px solid #fff;}
  .n-pdf-button >span::after ,.nav li.active > a > span:after,.nav li > a > span:after{  color: #fff;}
  li.subfolders.active > ul li.active:after{background: #fff;}
ul#mysidebar{padding-bottom: 22px;}
}
