body {
  font-family: 'Source Sans Pro', sans-serif;
}

h2[id].n-property-bar__property-name {
  padding: 0px;
  margin-top: 0px;
}

.col-md-3 {
  padding-left: 30px;
  position: fixed;
}

/* NetApp Sidebar Overrides */
@media (max-width: 990px) {
    #mysidebar {
        position: relative;
    }
}

@media (min-width: 1000px) {

    ul#mysidebar {
        width: 265px;
    }
}

@media (max-width: 900px) {

    ul#mysidebar {
        max-width: 100%;
    }
}

#mysidebar .nav ul {
    background: #F7F7F7;
}

ul#mysidebar {
    border-radius:0px;
    background: #F7F7F7;
    padding-top: 15px;
}


.nav, .nav ul, .nav li {
    list-style: none;
}

.nav ul {
    padding: 0;
    /*margin: 0 0 0 18px;*/
    margin:0px;
}

.nav {
    padding: 0px;
    margin: 0px;
}

.nav > li {
    margin: 0px 0;
}

.nav > li li {
    margin: 0px 0;
}

.nav a {
    color: #444; /* Black */
    display: block;
    outline: none;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    text-decoration: none;
}

.nav li > a > span {
    float: right;
    font-size: 13px;
    font-weight: bolder;
}


.nav li > a > span:after {
    content: '\25be';
}
.nav li.active > a > span:after {
    content: '\25b4';
}

.nav a:hover, .nav li.active > a {
    /* background-color: #8D8D8D; */ /* Dark Grey */
    color: #0067C5; /* NetApp Blue */
    font-weight: bold;
    background: #F7F7F7;
    font-size: 14px;
}

.nav > li.active > a  {
  color: #0067C5; /* NetApp Blue */
  /*color: #347DBE; Blue */
  font-weight: bold;
  font-size: 14px;

}

.nav li a {
    font-size: 13px;
    line-height: 16px;
    padding: 7px 15px;
    background: #F7F7F7;
}

.nav > li > a {
    font-size: 13px;
    line-height: 16px;
    padding: 7px 15px;
}

.nav li.thirdlevel > a {
    color: #248EC2;
    font-weight:bold;
    padding-left:20px;
}

.nav li a {
    padding-right:10px;

}

.nav li a:hover {
    /*background-color: #8D8D8D;*/
    font-weight: normal;
    background: #F7F7F7;
    color: #0067C5; /* NetApp Blue */
}

.nav ul li a {
    background: #F7F7F7;
    padding-left:30px;
    border-top: 0px;
}

.nav ul li ul li a {
    padding-left:45px;
}

.nav ul li ul li ul li a {
    padding-left:60px;
}
/* end sidebar */
