#search-demo-container {
  display: inline-block;
  float: left;
  position: relative;
  text-align: left;
}

#search-demo-container div._Search_display_wrapper {
    box-shadow: 2px 3px 2px #dedede;
    background-color: white;
    border-left: 1px solid #dedede;
    direction: ltr;
    display: none; /* Initial Value */
    font-family: inherit;
    font-size: 100%;
    height: 400px;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: auto;
    left: 0px;
    text-align: left;
    width: 350px;
    /* top: 50px; */
    z-index: 200;
}

div._Search_display_wrapper em {
  color: #4A832E;
  font-weight: bold;
  /* font-style: normal; */
}

.sk-search-box {
  min-width: 250px;
}

#search-demo-container div.search__results {
  height: 350px;
  overflow-y: scroll;
}

.search-category {
  clear: left;
  overflow-x: auto;
  overflow-y: hidden;
}

.search__results small.sk-hits-hit__hightlights {
  float: left;
  font-size: 12px;
  margin-left: 20px;
}

.search {
  background: #FFF;
  border: 1px solid #A6A8AB;
  border-radius: 6px;
}

.sk-hits-hit.sk-hits__item>a:after {
  content: none !important;
}

/* Results Page */
.search__results__all .sk-hits-hit.sk-hits__item {
  margin-top: 20px;
}

.search__results__all small.sk-hits-hit__hightlights {
  float: left;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 10px;
}
