div.listingblock {
  width: fit-content;
}

.listingblock *:before {
  display: none !important;
}

code[class*=language-], pre[class*=language-] {
  white-space: pre-wrap
}
code[class*=language-] {
    padding: 12px 20px 2px;
    margin: 0px !important;
}

/* External CSS Custom Overrides */

code .token:not(.script) {
  font-weight: 400
}

code .token.property {
  font-weight: 500
}

code.language-markup .token.namespace, code .token.attr-name, code .token.selector, code .token.tag, code .token.tag * {
  color: #0075d6
}

code .token.attr-name {
  font-style: italic
}

code .token.comment {
  font-weight: 400;
  color: #91a2b0
}

code.language-url, code .token.function, code .token.url {
  background: inherit;
  font-weight: 600;
  color: #3297d3
}

.language-ruby .token.constant+.token.punctuation, .language-ruby .token.constant+.token.punctuation+.token.symbol, code .token.boolean, code .token.builtin, code .token.class-name, code .token.constant, code .token.namespace {
  font-weight: 600;
  color: #2191ef
}

code.language-html .token.attr-value>.punctuation:not(:first-child), code.language-markup .token.attr-value>.punctuation:not(:first-child), code .token.attr-value, code .token.macro, code .token.string, code .token.value {
  font-weight: 400;
  color: #159570
}

code .token.number {
  color: #fa755a
}

code .token.header {
  font-weight: 700
}


/* curl CSS */

pre.language-curl .line-numbers>span:before {
  content: ">"
}

pre.language-bash .line-numbers>span:first-child:before, pre.language-curl .line-numbers>span:first-child:before {
  content: "$"
}

.language-bash .token.function, code .token.curl, code .token.option, code .token.variable {
  color: teal;
  font-weight: 600
}

.language-bash .token.option, code.language-http .token.method, code.language-css .property, code .token.parameter, code .token.symbol {
  font-weight: 500;
  color: #d14
}

.language-bash .token.function, code .token.curl, code .token.option {
  font-weight: 500
}


/* CSS for code-header */

div.code-toolbar {
  position: relative;
}

div.code-toolbar>.toolbar {
  position: absolute;
  top: .3em;
  right: 0;
  opacity: 1;
  width: 100%;
}

div.code-toolbar:hover>.toolbar {
  opacity: 1;
}

div.code-toolbar>.toolbar .toolbar-item {
  display: inline-block;
  position: absolute;
  right: 0;
}

div.code-toolbar>.toolbar .toolbar-item:first-of-type {
  left: 0;
}

div.code-toolbar>.toolbar a {
  cursor: pointer;
}

div.code-toolbar>.toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar>.toolbar span {
  display: inline-block;
  position: absolute;
  left: 0;
  color: #454545;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 10px;
  background: none;
  box-shadow: none;
  border-radius: unset;
}

div.code-toolbar>.toolbar a, div.code-toolbar>.toolbar button {
  background: #FFFFFF;
  border-radius: 2px;
  border: solid 2px #0067C5;
  color: #0067C5;
  font-size: 12px;
  padding: 2px 8px;
  position: relative;
  top: -4px;
}

div.code-toolbar>.toolbar a:hover, div.code-toolbar>.toolbar a:focus, div.code-toolbar>.toolbar button:hover, div.code-toolbar>.toolbar button:focus, div.code-toolbar>.toolbar span:hover, div.code-toolbar>.toolbar span:focus {
  color: inherit;
  text-decoration: none;
}

div.code-toolbar>.toolbar a:active, div.code-toolbar>.toolbar a:hover {
  background: #0067C5;
  color: #FFF;
  text-decoration: none;
}
